html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
}

#gauche, #droite {
    position: relative;
    height: 100%;
    width: 50%;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 2.75em;
    width: 25vw;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#contenu-option {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#fleche {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    height: 85px;
    aspect-ratio: 1/1;
    background-color: var(--purple);
}

.moitié-selectionée {
    background-color: var(--light-purple);
}

.moitié-looser {
    background-color: var(--purple);
}

.moitié-looser h2 {
    color: var(--purple);
    background: radial-gradient(
        ellipse at center,
        var(--light-purple) 0%,
        var(--light-purple) 30%,
        transparent 70%
    );
}

.moitié-selectionée h2 {
    color: var(--light-purple);
    background: radial-gradient(
        ellipse at center,
        var(--purple) 0%,
        var(--purple) 30%,
        transparent 70%
    );
}

